---
// src/components/CopyrightBar.astro
---

<div class="copyright-bar">
  <div class="copyright-content">
    <div class="last-modified">
      <i class="fas fa-clock"></i>
      <span>Dernière Modification :</span>
      <span id="last-modified-date"></span>
      <span class="last-modified-load-time">
        | Chargé : <span id="load-time"></span>
      </span>
    </div>
    <div class="copyright-main">
      ⚖️ © 2025–2026 OceanPhenix™
      <a href="#" id="cgu-link">CGU</a>
    </div>
  </div>
</div>
